@import "~bootstrap/dist/css/bootstrap.css";
body {
  margin:0;
  padding:0;
  background-color: white;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

html, body { height: 100%; }

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: dodgerblue;
}
