/*table {*/
.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: dodgerblue;
  color: white;
}
tr {
  cursor:pointer;
}
/*add button*/
.floating-btn {
  width:60px;
  height:60px;
  background-color: dodgerblue;
  display: flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #ffffff;
  font-size:40px ;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  position: fixed;
  right:10px ;
  bottom: 10px;
  transition: background 0.25s;
  /*button*/
  border:none;
  outline: blue;
  cursor: pointer;

}

.floating-btn:hover  {
  background-color:deepskyblue;
}

.container {
  margin-top:30px;
  margin-bottom: 20px;
}
/*search bar*/

.wrapper .input{
  border: solid 1px grey;
  outline: none;
  color: #8b7d77;
}

.search_wrap{
  width: 500px;
  margin: 38px auto;
}

.search_wrap .search_box{
  position: relative;
  width: 500px;
  height: 60px;
}

.search_wrap .search_box .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: dodgerblue;
  z-index: 1;
  cursor: pointer;
  border: solid 1px grey;
}

.search_wrap .search_box .btn:hover{
  background: deepskyblue;
}

.search_wrap .search_box .btn.btn_common .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_1 .search_box .btn{
  right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search_wrap.search_wrap_1 .search_box .input,
.search_wrap.search_wrap_3 .search_box .input{
  padding-right: 80px;
}

.search_wrap.search_wrap_2 .search_box .btn{
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search_wrap.search_wrap_2 .search_box .input,
.search_wrap.search_wrap_4 .search_box .input{
  padding-left: 80px;
}

.search_wrap.search_wrap_3 .search_box .input,
.search_wrap.search_wrap_4 .search_box .input,
.search_wrap.search_wrap_6 .search_box .input{
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
  right: 0px;
  border-radius: 50%;
}

.search_wrap.search_wrap_4 .search_box .btn{
  left: 0px;
  border-radius: 50%;
}

.search_wrap.search_wrap_6 .search_box .btn,
.search_wrap.search_wrap_5 .search_box .btn{
  width: 125px;
  height: 45px;
  top: 8px;
  right: 5px;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn{
  border-radius: 25px;
}


.search_wrap.search_wrap_5 .search_box .input,
.search_wrap.search_wrap_6 .search_box .input{
  padding-right: 145px;
}

.table-responsive {
  box-shadow: 1px 5px 10px 0 rgba(16, 28, 54, 0.15);
  background-color: transparent;
  overflow: auto;
  overflow-x: hidden;
  height: 430px;
}
